@charset "UTF-8";



/* header rules start */

body.trainTemplateBody {
   margin-left: auto;
   margin-right: auto;
   border: 5px solid black;
   width: 1024px;
}

div.defaultHeaderMainDiv {
   padding-top: 0px;
   margin-top: 0px;
   border: 5px solid red;
   background-color: rgb(128,0,0);  
/*    background-color: rgb(159,0,0);   */
/*    background-color: ruby; */
/*    background-image: url(/studywebapp/org.richfaces.resources/rfRes/gradientA.png?v=4.5.17.Final&db=eAFjZJBjZDBiZBBh!H8!IoLx!wQGBgYmACkLBIk_&ln=org.richfaces.images); */
   text-decoration: none;
   color: white;
   line-height: 170px;
   height: 170px;
   font-family:Arial,Helvetica,sans-serif;
   font-size: 16px;
   font-weight: bold;
}

/* span.textpaddingtop { */
img#logoImg {
   border: 5px groove red;
   margin-left: 30px;
   width: 200px;
   height: 170x;
   vertical-align: middle;
}

span#defaultHeaderMainSpan {
   margin:0px;
   padding:0px;
   float: right;
/*    text-align: center; */
   margin-right: 15px;
   width: 450px;
   border: 5px solid green;
   text-align: center;
}

.defaultHeaderLinksSpan{
   padding-right:15px;
   padding-left:15px;
   margin:0px;
   color: white;
   text-decoration: none;
}


/* header rules end */


/* content rules start */


div.defaultContentMainDiv {
   padding: 0;
   margin: 0;
/*    width: 1024px; */
   width:inherit;
   border: 1px solid green;
   background-color: white;
/*    background-color: rgb(165, 42, 42); */
/*    background-color: rgb(128,0,0);   */
   text-decoration: none;
   color: white;
/*    line-height: 870px; */
/*    height: 870px; */
   font-family:Arial,Helvetica,sans-serif;
   font-size: 16px;
/*    width: 100%; */
   background-color: rgb(245,230,230);
   
}


.colorTest{
   color: orange;
   line-height: normal;
}

/* content rules end */



/* footer rules start */

div.defaultFooterMainDiv {
   padding: 0;
   margin: 0;
   border: 5px solid blue;
   /*    background-color: brown;    */
   text-decoration: none;
   color: lime;
}

/* footer rules end */
